DB_NAME=eventos
DB_USERNAME=macaco
DB_PASSWORD=prego
DB_URL=jdbc:postgresql://localhost:5432/eventos

JWT_SECRET=E3B0C44298FC1C149AFBF4C8996FB92427AE41E4649B934CA495991B7852B855
JWT_EXPIRATION_MINUTES=60